/*
 * Pipeline parameters
 */

// input/output parameters
params.data_path = "$projectDir/data"
params.output_path = "$projectDir/output"
params.download_from = null
params.output_file = null

// cpu parameters
params.threads = 30
params.time = "4h"
params.mem = 16.GB

// slurm parameters
params.gpu_queue = null
params.cpu_queue = null
params.slurm_log_dir = "$projectDir/logs"

env {
    // Replace /custom/path/to/bin with the actual folder containing the singularity binary
    PATH = "/gsc/software/linux-x86_64-centos7/singularity-3.7.4/bin/singularity:\$PATH"
}

/*
 * Process parameters
 */
process {
    // containers
    withName: RUNAMPLIFY{
        container = 'quay.io/biocontainers/amplify:2.0.1--py36hdfd78af_0'
    }
    withName: RUNTAMPER{
        container = 'itsberkeucar/tamper'
    }
    withName: RUNCOLABFOLD{
        container = 'itsberkeucar/localcolabfold:amd64'
    }
    withName: COMPILERESULTS {
        container = 'itsberkeucar/ampseek-visualization' 
    }

    // common attributes
    cpus = { params.threads }
    time = "${params.time ?: ''}"
    memory = { params.mem }
}

/*
 * Profiles for containers and their parameters
 */
profiles{
    // containarization profiles
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    docker {
        docker.enabled = true
        docker.runOptions = "--platform=linux/amd64"
    }

    // executor profiles
    slurm {
        process {  
            executor = 'slurm'
            beforeScript = "mkdir -p ${params.slurm_log_dir}"
            
            clusterOptions = {
                def opts = "-o ${params.slurm_log_dir}/${task.process.replace(':','_')}_%j.out " +
                           "-e ${params.slurm_log_dir}/${task.process.replace(':','_')}_%j.err"
                
                if (task.label?.contains('gpu_process')) {
                    opts += " --gres=gpu:1"
                }
                return opts
            }

            withLabel: 'gpu_process' {
                queue = { params.gpu_queue }
                containerOptions = { workflow.profile.contains('docker') ? '--gpus all' : '--nv' }
            }
            
            withLabel: 'cpu_process' {
                queue = { params.cpu_queue }
            }
        }
    }

    // hardware profiles
    gpu {
        process {
            withLabel: 'gpu_process' {
                accelerator = 1
                containerOptions = { workflow.profile.contains('docker') ? '--gpus all' : '--nv' }
            }
        }
    }
}

